<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="TwilioCallbackHost" value="https://kenarfas.pagekite.me" />-->
    <add key="TwilioCallbackHost" value="http://telephony-twilio.pagekite.me" />
    <add key="TwilioCallbackMethod" value="POST" />
    <!--Real Dev Number for TwilioMaster-->
    <add key="TwilioParentFromNumber" value="+14024036766" />
    <add key="TelephonyDisplayLocalTime" value="true"/>
    <add key="TelephonyTimeZoneUseGoogle" value="true"/>
    <add key="TelephonyGeoLatLngUseGoogle" value="true"/>
    <add key="UseTelephonyClient" value="false"/>
    <add key="TelephonyClient" value="gme-infogroupinc"/>
    <add key="TelephonySign" value="I--kXi0Of6zAk"/>
    <add key="TelephonyDI" value="m6_wKRo7GMOpxs="/>
  </appSettings>
</configuration>
