<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Monitoring"  connectionString="Data Source=spencer-dev;Initial Catalog=Monitoring;Persist Security Info=True;Integrated Security=SSPI;Asynchronous Processing=True;MultipleActiveResultSets=True;Application Name=Origin"  providerName="System.Data.SqlClient" />
    <add name="Telephony"   connectionString="Data Source=spencer-dev;Initial Catalog=Telephony;Persist Security Info=True;Integrated Security=SSPI;Asynchronous Processing=True;MultipleActiveResultSets=True;Application Name=Telephony"   providerName="System.Data.SqlClient" />
    <add name="Twilio"      connectionString="Data Source=spencer-dev;Initial Catalog=Twilio;Persist Security Info=True;Integrated Security=SSPI;Asynchronous Processing=True;MultipleActiveResultSets=True;Application Name=Twilio"   providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
