<?xml version="1.0" encoding="utf-8" ?>
<TelephonyApiConfig>
  <TelephonyServiceEndpoints>
    <TelephonyServiceEndpoint>
      <Location>Local</Location>
      <Timeout>30000</Timeout>
      <Uri>http://localhost:65415</Uri>
    </TelephonyServiceEndpoint>

    <!--<TelephonyServiceEndpoint>
      <Location>Dev</Location>
      <Timeout>30000</Timeout>
      <Uri>http://dev-telephony.infogroup.com</Uri>
    </TelephonyServiceEndpoint>

    <TelephonyServiceEndpoint>
      <Location>Test</Location>
      <Timeout>30000</Timeout>
      <Uri>http://test-telephony.infogroup.com</Uri>
    </TelephonyServiceEndpoint>

    <TelephonyServiceEndpoint>
      <Location>Prod</Location>
      <Timeout>30000</Timeout>
      <Uri>http://telephony.infogroup.com</Uri>
    </TelephonyServiceEndpoint>

    <TelephonyServiceEndpoint>
      <Location>Stage</Location>
      <Timeout>30000</Timeout>
      <Uri>http://stage-telephony.infogroup.com</Uri>
    </TelephonyServiceEndpoint>-->

  </TelephonyServiceEndpoints>
</TelephonyApiConfig>